{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="thumbnail">
            <img src="{{ uploads_dir~image.url }}" alt="">
            <div class="caption">
                <h3>{{ image.title ? image.title : 'No title' }}</h3>
                <p>Rating: {{ image.rating }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="jumbotron">
            <h3>Are you sure you want to delete this image?</h3>
            <p>Caution! All the data will be deleted.</p>
            <a class="btn btn-danger" href="{{ path('app.admin.image.delete', { 'id': image.id, 'confirm' : 'true' }) }}">
                Delete
            </a>
            <a class="btn btn-default" href="{{ path('app.admin.image.list') }}">
                Cancel
            </a>
        </div>
    </div>

{% endblock %}