{% extends 'account/base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        button {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <h2 class="page-header">Datei bearbeiten</h2>
    {% include('includes/imageEditForm.html.twig') %}
{% endblock %}