{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}

{% block body %}
    <h2 class="page-header">Bilder ({{ pagination.getTotalItemCount }})</h2>

    {{ knp_pagination_filter(pagination, { 'i.title': 'Title', 'u.username': 'By user' }) }}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>img</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title', 'i.title')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Username', 'u.username')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Filename', 'i.originalFilename')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Raw file', 'i.originalUrl')|raw }}</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for image in pagination %}
                <tr>
                    <td>
                        <img src="{{ (uploads_dir~image.url)|imagine_filter('user_imgs') }}">
                    </td>
                    <td>{{ image.title }}</td>
                    <td>{{ image.username }}</td>
                    <td>{{ image.originalFilename }}</td>
                    <td>
                        {% if image.originalUrl %}
                            <a href="{{ uploads_original_dir~image.originalUrl }}">Download</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app.admin.image.edit', { 'id': image.id }) }}" class="btn btn-xs btn-default">Edit</a>
                        <a href="{{ path('app.admin.image.delete', { 'id': image.id }) }}" class="btn btn-xs btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div align="center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}