<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Anzahl der Auslösungen aus den EXIF Daten auslesen{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- jQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
    <!-- Bootstrap -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="dslr-pro-logo" href="{{ path('app.home.home.index') }}">dslr-pro</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('app.account.user.profile') }}">Mein Profil</a></li>
                <li role="separator" class="divider"></li>

                <li {% if app.request.attributes.get('_route') == 'app.admin.user.list' %} class="active" {% endif %}>
                    <a href="{{ path('app.admin.user.list') }}">Benutzer</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'app.admin.image.list' %} class="active" {% endif %}>
                    <a href="{{ path('app.admin.image.list') }}">Bilder</a>
                </li>
                <li><a href="{{ path('logout') }}">Abmelden</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% include('includes/flashMsg.html.twig') %}
    {% block body %}{% endblock %}
    {% block pagination %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}

</body>
</html>
