{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <style type="text/css">
        .fos_user_registration_register {
            max-width: 650px;
            padding: 15px;
            margin: 0 auto;
        }
        .fos_user_registration_register {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
    </style>
{% endblock %}

{% block fos_user_content %}
    <div class="fos_user_registration_register">
        <h2>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h2>

        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}
    </div>
{% endblock fos_user_content %}
