{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <style type="text/css">
        .fos_user_registration_register {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .fos_user_registration_register .form-signin-heading {
            margin-bottom: 30px;
        }
        .fos_user_registration_register .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .fos_user_registration_register .form-control:focus {
            z-index: 2;
        }
        .fos_user_registration_register input[id="user_plainPassword_second"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        button[type="submit"] {
            margin-top: 5px;
        }
    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<h2 class="form-signin-heading">
    Profil erstellen
</h2>

{{ form_row(form.username, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Benutzername'}}) }}
{{ form_row(form.email, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'E-Mail'}}) }}
{{ form_row(form.plainPassword.first, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Passwort'}}) }}
{{ form_row(form.plainPassword.second, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Passwort wiederholen'}}) }}

<label for="license_agreement">
    <input type="checkbox" required="required" id="license_agreement" name="_license_agreement" />
    Ich habe die <a href="{{ path('app.home.home.license') }}">impressum</a> gelesen und akzeptiert.
</label>

<div class="g-recaptcha" data-sitekey="6Ld5JQoUAAAAACFTlpsjGOiVfmLWh3d9z51abb7G"></div>

<button type="submit" class="btn btn-lg btn-primary btn-block">
    Profil erstellen
</button>
{{ form_end(form) }}
