<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Anzahl der Auslösungen aus den EXIF Daten auslesen{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- jQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
    <!-- Bootstrap -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

{% include 'includes/account_navbar.html.twig' %}

<div class="container">
    {% include('includes/flashMsg.html.twig') %}
    {% block body %}{% endblock %}
    {% block pagination %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}

</body>
</html>
