{% extends 'account/base.html.twig' %}

{% block body %}
    <h1 class="page-header">
        {% if image.title %}
            {{ image.title }}
        {% else %}
            Exif Tool
        {% endif %}

        <a href="{{ path('app.account.image.imageExif', { 'id': image.id }) }}" class="btn btn-default pull-right">
            Back
        </a>
    </h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            Von: {{ sender }}

            <a href="{{ path('app.account.image.emailExif', { 'id': image.id, 'send': 'true' }) }}"
               class="btn btn-xs btn-success pull-right">
                Senden
            </a>
        </div>
        <ul class="list-group">
            <li class="list-group-item">An: {{ user.email }}</li>
        </ul>

        <div class="panel-body">
            {% include 'email/exif.html.twig' %}
        </div>
    </div>
{% endblock %}