{% extends 'account/base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        button {
            margin: 10px 0px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <h2 class="page-header">Datei bearbeiten</h2>
        {% include('includes/imageEditForm.html.twig') %}
    </div>

    {% if exif %}
        <div class="row">
            <h2 class="page-header">EXIF Daten</h2>
            {% include 'includes/printShortExif.html.twig' %}
            <hr>
            {% include 'includes/printExif.html.twig' %}
        </div>
    {% endif %}
{% endblock %}