{% extends 'account/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="thumbnail">
            <img src="{{ uploads_dir~image.url }}">

            <div class="caption">
                {% if image.title %}
                    <h4>{{ image.title }}</h4>
                {% endif %}

                <h5>Wertung: {{ image.rating }}</h5>
                {% if image.isPublic %}
                    <h5>Dieses Bild ist öffentlich.</h5>
                {% else %}
                    <h5>Dieses Bild ist privat.</h5>
                {% endif %}

                <h5>Hochgeladen {{ image.uploadedat|date("d M Y \\b\\e\\i G:i") }}</h5>

                <a href="{{ path('app.account.image.imageEdit', { 'id': image.id }) }}" class="btn btn-default">
                    Datei bearbeiten
                </a>
                <a href="{{ path('app.account.image.imageExif', { 'id': image.id }) }}" class="btn btn-default">
                    EXIF Daten
                </a>

                <a href="{{ path('app.account.image.delete', { 'id': image.id }) }}" class="btn btn-danger pull-right">
                    Löschen
                </a>
            </div>
        </div>
    </div>
{% endblock %}