{% extends 'account/base.html.twig' %}

{% block body %}
    <h1 class="page-header">
        {% if image.title %}
            {{ image.title }}
        {% else %}
            Exif Tool
        {% endif %}

        <a href="{{ path('app.account.image.emailExif', { 'id': image.id }) }}" class="btn btn-default pull-right">
            EXIF via Email senden
        </a>
    </h1>

    {% include 'includes/printShortExif.html.twig' %}
    <hr>
    {% include 'includes/printExif.html.twig' %}
{% endblock %}