{% extends 'account/base.html.twig' %}

{% block body %}
    <h1 class="page-header">Mein Profil</h1>

    <p>Benutzername: {{ user.username }}</p>

    <p>Email: {{ user.email }}</p>

    {% if user.firstName %}
        <p>Vorname: {{ user.firstName }}</p>
    {% endif %}

    {% if user.lastName %}
        <p>Name: {{ user.firstName }}</p>
    {% endif %}

    {% if user.birthday %}
        <p>Geburtsdatum: {{ user.birthday|date("d M Y") }}</p>
    {% endif %}

    <a class="btn btn-default" href="{{ path('app.account.user.settings') }}">Einstellungen</a>
    <a class="btn btn-default" href="{{ path('app.account.image.userImages') }}">Meine Dateien</a>

{% endblock %}