{% extends 'account/base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .btn {
            margin-top: 10px;
        }
        .row {
            margin-left: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 class="page-header">Einstellungen</h1>

    {{ form_start(form) }}

    {{ form_row(form.firstName, { 'label': 'Vornamen', 'required': false , 'attr': { 'class': 'form-control' } }) }}
    {{ form_row(form.lastName, { 'label': 'Name', 'required': false , 'attr': { 'class': 'form-control' } }) }}
    {{ form_row(form.birthday, { 'label': 'Geburtstagsdatum', 'required': false, 'attr': { 'class': 'form-control', '': '' } }) }}

    <div class="row">
        <a href="{{ path('fos_user_change_password') }}" class="btn btn-danger">Passwort ändern</a>
    </div>


    <button type="submit" class="btn btn-success">
        Speichern
    </button>
    {{ form_end(form) }}

{% endblock %}