{% extends 'account/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
{% endblock %}

{% block body %}
    <h1 class="page-header">Geprüfte Dateien</h1>

    <div class="col-md-12">
        {% for image in pagination %}
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="thumbnail">
                    <a class="for-mouse" href="{{ path('app.account.image.imageDetails', { 'id': image.id }) }}">
                        <img src="{{ (uploads_dir~image.url)|imagine_filter('user_imgs') }}">
                    </a>

                    <div class="my_thumb_caption">
                        {% if image.title %}
                            <h6>{{ image.title[:20] }}</h6>
                        {% endif %}
                        <span>{{ image.uploadedat|date("d M Y G:i") }}</span>
                        <span class="image-rating pull-right">{{ image.rating }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div align="center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/home.js') }}"></script>
    <script type="text/javascript">
        showThumbnailCaptionOnMouse();
    </script>
{% endblock %}