{% extends 'account/base.html.twig' %}
{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{% block body %}
{% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock body %}