{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <style type="text/css">
        form[name="fos_user_change_password_form"] {
            max-width: 330px;
            margin: auto;
        }
        #fos_user_change_password_form_plainPassword_second {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

<h1 class="page-header">Passwort ändern</h1>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

{{ form_row(form.current_password, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Current password'}}) }}

{{ form_row(form.plainPassword.first, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'New password'}}) }}
{{ form_row(form.plainPassword.second, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Retype password'}}) }}

<div>
    <input class="btn btn-success btn-block" type="submit" value="Passwort ändern" />
</div>
{{ form_end(form) }}
