/* For col-xs-* */
@media (max-width: 499px) {
    .thumbnail {
        position: relative;
        height: 110px;
        width: 110px;
        margin-left: auto;
        margin-right: auto;    
    }
}
@media (min-width: 500px) {
    .thumbnail {
        position: relative;
        height: 150px;
        width: 150px;
        margin-left: auto;
        margin-right: auto;    
    }
}
.thumbnail .my_thumb_caption {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    padding: 10px;
    background-color: rgba(0,0,0,.4);
}
.my_thumb_caption h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.my_thumb_caption span {
    font-size: 12px;
}
@media (max-width: 991px) {
    .xs-sm-margin-5-auto-15-auto {
        margin: 5px auto 15px auto;
    }
}