body {
    padding-top: 70px;
    padding-bottom: 30px;
}

#uploads {
    margin-bottom: 20px;
}

input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#upload-form input[type="submit"] {
    width: 100%;
    display: block;
}