{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    <h2 class="form-signin-heading">Bitte anmelden</h2>

    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label class="sr-only" for="username" >Benutzername</label>
    <input class="form-control" placeholder="Benutzername" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label class="sr-only" for="password">Passwort</label>
    <input class="form-control" placeholder="Passwort" type="password" id="password" name="_password" required="required" />

    <div class="checkbox">
        <label for="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'security.login.remember_me'|trans }}
        </label>
        {#<a class="forgot pull-right" href="{{ path('app.security.forgot') }}">Forgot password?</a>#}
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit"  id="_submit" name="_submit">
        Anmelden
    </button>
</form>



{% block stylesheets %}
    <style type="text/css">
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        label[for="remember_me"] {
            font-weight: bold;
        }
        .checkbox {
            font-weight: bold;
        }
        .forgot {
            text-decoration: underline;
            font-weight: bold;
        }
    </style>
{% endblock %}