<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Auslösungen auslesen - Shutter Count {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- jQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.js') }}"></script>
    <!-- Bootstrap -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <!-- Custom CSS -->
    {% block stylesheets %}
    {% endblock %}
    <style type="text/css">
        @font-face {
            font-family: Bubbleboy;
            src: url(/fonts/Bubbleboy.ttf);
        }
        #dslr-pro-logo {
            font-family: Bubbleboy;
            font-size: 22px;
            color: #e6e6e6;
        }
        #dslr-pro-logo:hover {
            color: #fff;
        }
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            background-color: #eee;
        }
    </style>
</head>
<body>
{% include('includes/navbar.html.twig') %}
<div class="container">
    {#<div>#}
        {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
            {#<a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">#}
                {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
            {#</a>#}
        {#{% else %}#}
            {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
        {#{% endif %}#}
    {#</div>#}

    {% for flashMsg in app.session.flashBag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMsg|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
    {% for flashMsg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMsg|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
</div>
</body>
</html>