{% extends 'home/base.html.twig' %}

{% block body %}
    <p>
        Mit diesem Tool können Sie die Anzahl der gemachten Auslösungen einer Kamera aus den Exifs von Bildern auslesen.
    </p>
    <p>
        5DDDDD / CANON 60D / CANON EOS 1DS MARK II / CANON EOS 1DS MARK II / CANON EOS 5D / CANON EOS 60D / CANON EOS 6D / CANON EOS-1D / CANON EOS-1D MARK II / CANON EOS-1D MARK II N / CANON EOS-1DS / CANON EOS-1DS MARK II / COOLPIX A / D5200 / DSLR-A000 / DSLR-A230 / DSLR-A290 / DSLR-A330 / DSLR-A380 / DSLR-A390 / DSLR-A450 / DSLR-A500 / DSLR-A550 / DSLR-A560 / DSLR-A580 / DSLR-A850 / DSLR-A900 / EARTHCAM CAMERA SYSTEM / GX-1L / GX-1S / M / NEW MODEL / NEX-3 / NEX-5 / NEX-5C / NEX-C3 / NEX-VG10 / NEX-VG10E / NIKON / NIKON / NIKON 1 AW1 / NIKON 1 J1 / NIKON 1 J2 / NIKON 1 J3 / NIKON 1 J4 / NIKON 1 J5 / NIKON 1 S1 / NIKON 1 S2 / NIKON 1 V1 / NIKON 1 V2 / NIKON 1 V3 / NIKON D200 / NIKON D2H / NIKON D2HS / NIKON D2X / NIKON D2XS / NIKON D3 / NIKON D300 / NIKON D3000 / NIKON D300S / NIKON D3100 / NIKON D3200 / NIKON D3300 / NIKON D3300 / NIKON D3400 / NIKON D3S / NIKON D3X / NIKON D4 / NIKON D40 / NIKON D40X / NIKON D4S / NIKON D5 / NIKON D50 / NIKON D500 / NIKON D5000 / NIKON D5100 / NIKON D5100 / NIKON D5100 / NIKON D5200 / NIKON D5200 / NIKON D5300 / NIKON D5500 / NIKON D5600 / NIKON D60 / NIKON D600 / NIKON D610 / NIKON D70 / NIKON D700 / NIKON D700 / NIKON D7000 / NIKON D7000 / NIKON D70S / NIKON D7100 / NIKON D7100 / NIKON D7200 / NIKON D750 / NIKON D80 / NIKON D80 / NIKON D800 / NIKON D800 / NIKON D800E / NIKON D810 / NIKON D810A / NIKON D90 / NIKON D90 / NIKON D903 / NIKON DF / NIKON Q0640 / NIKON Q0760 / NIKON Q1230 / NIKON Q810 / NIOON D70S / PENTAX *IST DL / PENTAX *IST DL2 / PENTAX *IST DS / PENTAX *IST DS2 / PENTAX 645D / PENTAX 645Z / PENTAX K-01 / PENTAX K-1 / PENTAX K-3 / PENTAX K-3 / PENTAX K-3 II / PENTAX K-30 / PENTAX K-5 / PENTAX K-5 II / PENTAX K-5 II S / PENTAX K-50 / PENTAX K-500 / PENTAX K-7 / PENTAX K-70 / PENTAX K-M / PENTAX K-R / PENTAX K-S1 / PENTAX K-S2 / PENTAX K-X / PENTAX K100D / PENTAX K100D SUPER / PENTAX K10D / PENTAX K10D / PENTAX K110D / PENTAX K2000 / PENTAX K200D / PENTAX K200D / PENTAX K20D / PENTAX K20D / PENTAX K20D-W / PENTAX KP / PENTAX MX-1 / PENTAX OPTIO E50 / PENTAX OPTIO E60 / PENTAX OPTIO E80 / PENTAX OPTIO E90 / PENTAX OPTIO LS1000 / PENTAX OPTIO LS1100 / PENTAX OPTIO LS465 / PENTAX OPTIO RS1000 / PENTAX OPTIO RS1500 / PENTAX OPTIO S1 / PENTAX OPTIO VS20 / PENTAX OPTIO WG-2 / PENTAX OPTIO WG-2 GPS / PENTAX Q / PENTAX Q-S1 / PENTAX Q10 / PENTAX Q7 / PENTAX WG-3 / PENTAX WG-3 GPS / PENTAX X-5 / PENTAXD5100 / RICOH MX-1 / RICOH WG-30 / RICOH WG-30W / RICOH WG-4 / RICOH WG-4 GPS / RICOH WG-5 GPS / SAMSUNG ES75 / SAMSUNG GX10 / SAMSUNG GX20 / SAMSUNG GX20 / SLT-A00 / SLT-A33 / SLT-A35 / SLT-A55 / SLT-A55V
    </p>
    <p>Auch andere Modelle werden unterstützt.</p>
{% endblock %}