{% extends 'home/base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
    </style>
{% endblock %}

{% block body %}
    <div class="thumbnail">
        <img src="{{ uploads_dir~image.url }}">

        <div class="caption" imageId="{{ image.id }}">
            {% if image.title %}
                <h4>{{ image.title }}</h4>
            {% endif %}

            <h5>
                <i class="fa fa-spinner fa-spin" style="display: none"></i>
                <div class="image-rating">{{ image.rating }}</div>
            </h5>
            <i isLike="true" class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
            <i isLike="false" class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>
        </div>

        {% if exif %}
            <div class="caption">
                {% include 'includes/printShortExif.html.twig' %}
            </div>

            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app.home.image.emailExif', { 'id': image.id }) }}" class="btn btn-default">EXIF via Email senden</a>
            {% endif %}
            <button class="btn btn-default" data-target="#exif" data-toggle="collapse">Vollen EXIF anzeigen</button>
            <div id="exif" class="caption collapse">
                {% include 'includes/printExif.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/home.js') }}"></script>
    <script type="text/javascript">
        changeRatingOnClick( "{{ path('fos_user_security_login') }}", "{{ path('app.home.image.changeRating') }}" );
    </script>
{% endblock %}