{% extends 'home/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div id="uploads" class="col-md-6 col-md-offset-3">
            <form id="upload-form" action="{{ path('app.home.image.uploadImage') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="MAX_FILE_SIZE" value="52428800" />

                <h1 style="text-align: center; font-size: 20px;">Anzahl der Auslösungen aus den EXIF Daten auslesen</h1>
                <div class="col-md-9 col-xs-12">
                    <div class="input-group">
                        <input id="selected-filename" placeholder="max. 50mb" type="text" class="form-control" aria-label="...">
                        <div class="input-group-btn">
                            <div class="btn btn-default">
                                <span>Bitte Datei auswählen</span>
                                <input id="file-input" type="file" class="upload" name="pic" required="required" accept=".png,.jpg,.jpeg,.tif,.nef,.cr2,.arw,.raf,.rw2,.dng,.pef,.x3f" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 xs-sm-margin-5-auto-15-auto">
                    <input id="submit-upload" class="btn btn-primary" type="submit" value="Auslesen">
                </div>
            </form>
        </div>

        <div id="wait-uploading" class="col-md-6 col-md-offset-3" style="display: none;">
            <h3 class="text-center">
                {#<img src="{{ asset('images/ajax-loader.gif') }}" alt="">#}
                Die Datei wird hochgeladen. Bitte warten.
            </h3>

            <div class="progress">
                <div id="progressbar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
        </div>

        <div id="status-field" class="col-md-6 col-md-offset-3">
        </div>
    </div>

    <div class="col-md-12">
        {% for image in pagination %}
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="thumbnail">
                    <a class="for-mouse" href="{{ path('app.home.image.imageDetails', { 'id': image.id }) }}">
                        <img src="{{ (uploads_dir~image.url)|imagine_filter('user_imgs') }}">
                    </a>

                    <div class="my_thumb_caption" imageId="{{ image.id }}">
                        <h6>{{ image.title[:50] }}</h6>

                        <i isLike="true" class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
                        <i isLike="false" class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-spinner fa-spin pull-right" style="display: none;"></i>
                        <span class="image-rating pull-right">
                            {{ image.rating }}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div align="center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/home.js') }}"></script>
    <script type="text/javascript">
        mainIndex( "{{ path('fos_user_security_login') }}", "{{ path('app.home.image.changeRating') }}", {{ user ? 'true' : 'false' }} );
    </script>
{% endblock %}