{% extends 'home/base.html.twig' %}

{% block body %}
    <p>
        Alle Pressemitteilungen unterliegen dem Urheberrecht und sind von uns mit Angabe der Quelle versehen.
    </p>
    <p>
        Vervielfltigung bzw. Kopie von Text und Bild nur mit ausdrücklicher schriftlicher Genehmigung.
    </p>
    <p>
        Rechtliches:
    </p>
    <p>
        Haftungsausschluß
    </p>
    <p>
        1.Inhalt des Onlineangebotes
        Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
    </p>
    <p>
        2. Verweise und Links
        Bei direkten oder indirekten Verweisen auf fremde Internetseiten ("Links"), die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. Der Autor erklärt daher ausdrücklich, dass zum Zeitpunkt der Linksetzung die entsprechenden verlinkten Seiten frei von illegalen Inhalten waren. Der Autor hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der gelinkten/verknüpften Seiten. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller gelinkten /verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen und Mailinglisten. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
    </p>
    <p>
        3. Urheber- und Kennzeichenrecht
        Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen. Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluß zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind! Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.
    </p>
    <p>
        4. Datenschutz
        Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist - soweit technisch möglich und zumutbar - auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet.
    </p>
    <p>
        5. Rechtswirksamkeit dieses Haftungsausschlusses
        Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
    </p>
    <p>
        6. Betreiber eines Internet-Gästebuches sind für die Einträge anderer Personen verantwortlich.
    </p>
    <p>
        Nach dem LG Trier (Az: 4 O 106/00, Urteil vom 16.05.2001) hat in einer am 14. August 2002 verkündeten Entscheidung nunmehr auch das LG Düsseldorf eine Haftung für Einträge in Internetgästebüchern bejaht. Deutlicher als das LG Trier hat das LG Düsseldorf klargestellt, dass jemand, der auf seiner privaten "Homepage für Dritte die Möglichkeit bietet, sich in ihr Gästebuch mit jedweden Beiträgen einzutragen" Teledienstanbieter im Sinne von § 5 TDG ist. Ein Disclaimer, wie er oft unter Gästebüchern und ähnlichen Foren zu finden ist, sei nach Ansicht des LG Düsseldorf nicht ausreichend, sich von beleidigenden Äußerungen zu distanzieren.
    </p>
    <p>
        Aus eigenen moralischen und ethischen Grundsätzen heraus, sowie basierend auf der vorliegenden Rechtslage, behalte ich mir vor, jegliche Einträge im eingebundenen Gästebuch welche sexistisch, rassistisch oder anderweitig diskriminierend, gewaltverherrlichend oder zur Gewalt aufrufend sind, kommentarlos zu löschen.
    </p>
{% endblock %}