<style type="text/css">
    @font-face {
        font-family: Bubbleboy;
        src: url(/fonts/Bubbleboy.ttf);
    }
    #dslr-pro-logo {
        font-family: Bubbleboy;
        font-size: 22px;
        color: #e6e6e6;
    }
    #dslr-pro-logo:hover {
        color: #fff;
    }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="dslr-pro-logo" href="{{ path('app.home.home.index') }}">dslr-pro</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('app.admin.image.list') }}">Admin</a></li>
                    <li role="separator" class="divider"></li>
                {% endif %}

                <li {% if app.request.attributes.get('_route') == 'app.account.user.profile' %} class="active" {% endif %}>
                    <a href="{{ path('app.account.user.profile') }}">Mein Profil</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'app.account.image.userImages' %} class="active" {% endif %}>
                    <a href="{{ path('app.account.image.userImages') }}">Meine Dateien</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'app.account.user.settings' %} class="active" {% endif %}>
                    <a href="{{ path('app.account.user.settings') }}">Einstellungen</a>
                </li>
                <li><a href="{{ path('logout') }}">Abmelden</a></li>
            </ul>
        </div>
    </div>
</nav>