{% for flashMsg in app.session.flashBag.get('notice') %}
    <div class="alert alert-success">{{ flashMsg }}</div>
{% endfor %}
{% for flashMsg in app.session.flashBag.get('error') %}
    <div class="alert alert-danger">{{ flashMsg }}</div>
{% endfor %}