<div class="col-md-6">
    <img src="{{ uploads_dir~image.url }}" alt="" class="img-responsive thumbnail">
</div>
<div class="col-md-6">
    {% if (uploadedBy is defined) and (uploadedBy) %}
        <p>Uploaded by
            <a href="{{ path('app.admin.user.edit', { 'id': uploadedBy.id }) }}">{{ uploadedBy.username }}</a>
        </p>
    {% endif %}
    {{ form_start(form) }}

    {{ form_row(form.title, { 'label': 'Bildname', 'required': false , 'attr': { 'class': 'form-control' } }) }}
    {{ form_row(form.isPublic, { 'label':'Sichtbarkeit im Frontend', 'attr': { 'class': 'form-control' } }) }}

    <button class="btn btn-success" type="submit">Speichern</button>
    {{ form_end(form) }}
</div>

