<style type="text/css">
    @font-face {
        font-family: Bubbleboy;
        src: url(/fonts/Bubbleboy.ttf);
    }
    #dslr-pro-logo {
        font-family: Bubbleboy;
        font-size: 22px;
        color: #e6e6e6;
    }
    #dslr-pro-logo:hover {
        color: #fff;
    }
</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="dslr-pro-logo" href="{{ path('app.home.home.index') }}">dslr-pro</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if app.request.attributes.get('_route') == 'app.home.home.index' %} class="active" {% endif %}>
                    <a href="{{ path('app.home.home.index') }}">Home</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'app.home.home.about' %} class="active" {% endif %}>
                    <a href="{{ path('app.home.home.about') }}">FAQ</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'app.home.home.contact' %} class="active" {% endif %}>
                    <a href="{{ path('app.home.home.contact') }}">Kontakt</a>
                </li>
                <li {% if app.request.attributes.get('_route') == 'app.home.home.license' %} class="active" {% endif %}>
                    <a href="{{ path('app.home.home.license') }}">Impressum</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('app.account.user.profile') }}">Mein Profil</a></li>
                            <li><a href="{{ path('app.account.user.settings') }}">Einstellungen</a></li>
                            <li role="separator" class="divider"></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('app.admin.image.list') }}">Admin</a></li>
                                <li role="separator" class="divider"></li>
                            {% endif %}
                            <li><a href="{{ path('logout') }}">Abmelden</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Anmelden</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Profil erstellen</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>