{% if exif['Model'] is defined %}
    <p><b>Kamera-Modell</b>: {{ exif['Model'] }}</p>
{% else %}
    <p>Das Kameramodell kann nicht ermittelt werden</p>
{% endif %}

{% if exif['ShutterCount'] is defined %}
    <p><b>ShutterCount</b>: {{ exif['ShutterCount'] }}</p>
{% else %}
    <p>Ihre Kamera fügt keine Bildverschlusszählerinformationen zu den Bildern hinzu.</p>
{% endif %}