<h3>Hallo von dslr-pro.de</h3>

<p>
    Sie haben angefordert <a href="{{ app.request.getSchemeAndHttpHost()~path('app.home.image.imageDetails', { 'id': image.id }) }}">{{ image.title ? image.title : 'image' }}</a> EXIF Datei
</p>


{% include 'includes/printExif.html.twig' %}