<form class="form-inline" method="get" action="{{ action }}" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <div class="input-group">
            <select class="form-control" style="max-width: 30%" name="{{ filterFieldName }}">
                {% for field, label in fields %}
                    <option value="{{ field }}"{% if selectedField == field %} selected="selected"{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
            <input style="width: 50%" class="form-control" type="text" value="{{ selectedValue }}" name="{{ filterValueName }}" />
            <button class="btn btn-default">{{ options.button }}</button>
        </div>
    </div>
</form>