{% extends('@FOSUser/layout.html.twig') %}

{% block fos_user_content %}

    {% if image is defined %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="media-left">
                            <img class="media-object" src="{{ (uploads_dir~image.url)|imagine_filter('user_imgs') }}" alt="{{ image.title ? image.title : 'Ohne Title' }}">
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">
                                {{ image.title ? image.title : 'Ohne Title' }}
                            </h4>
                            <p>Dieses Bild ist {{ image.isPublic ? 'öffentlich' : 'privat' }}.</p>
                            <p>Wertung: {{ image.rating }}</p>
                            {% if exif %}
                                {% include 'includes/printShortExif.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <style type="text/css">
                .form-signin {
                    max-width: 330px;
                    padding: 15px;
                    margin: 0 auto;
                }
                .form-signin .form-signin-heading,
                .form-signin .checkbox {
                    margin-bottom: 10px;
                }
                .form-signin .checkbox {
                    font-weight: normal;
                }
                .form-signin .form-control {
                    position: relative;
                    height: auto;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 10px;
                    font-size: 16px;
                }
                .form-signin .form-control:focus {
                    z-index: 2;
                }
                .form-signin input[type="email"] {
                    margin-bottom: -1px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
                .form-signin input[type="password"] {
                    margin-bottom: 10px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }

                label[for="remember_me"] {
                    font-weight: bold;
                }
                .checkbox {
                    font-weight: bold;
                }
                .forgot {
                    text-decoration: underline;
                    font-weight: bold;
                }
            </style>

            <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                <h2 class="form-signin-heading">Bitte anmelden</h2>

                {% if (csrf_token is defined) and csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <label class="sr-only" for="username" >Benutzername</label>
                <input class="form-control" placeholder="Benutzername" type="text" id="username" name="_username" value="" required="required" />

                <label class="sr-only" for="password">Passwort</label>
                <input class="form-control" placeholder="Passwort" type="password" id="password" name="_password" required="required" />

                <div class="checkbox">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        Anmeldedaten speichern
                    </label>
                    {#<a class="forgot pull-right" href="{{ path('app.security.forgot') }}">Forgot password?</a>#}
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit"  id="_submit" name="_submit">
                    Anmelden
                </button>
            </form>
        </div>

        <div class="col-md-6">
            <style type="text/css">
                .fos_user_registration_register {
                    max-width: 330px;
                    padding: 15px;
                    margin: 0 auto;
                }
                .fos_user_registration_register .form-control {
                    position: relative;
                    height: auto;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 10px;
                    font-size: 16px;
                }
                .fos_user_registration_register .form-control:focus {
                    z-index: 2;
                }
                .fos_user_registration_register input[id="user_plainPassword_second"] {
                    margin-bottom: 10px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                button[type="submit"] {
                    margin-top: 5px;
                }
            </style>
            <script src='https://www.google.com/recaptcha/api.js'></script>

            {#<form name="fos_user_registration_form" action="{{ path('fos_user_registration_register') }}" method="post" class="fos_user_registration_register">#}
                {#<h2 class="form-signin-heading">#}
                    {#Profil erstellen#}
                {#</h2>#}

                {#{% if (csrf_token is defined) and csrf_token %}#}
                    {#<input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="{{ csrf_token }}">#}
                {#{% endif %}#}

                {#<div><input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}" class="form-control" placeholder="Benutzername"></div>#}
                {#<div><input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" class="form-control" placeholder="E-Mail"></div>#}
                {#<div><input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" class="form-control" placeholder="Passwort"></div>#}
                {#<div><input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" class="form-control" placeholder="Passwort wiederholen"></div>#}

                {#<label for="license_agreement">#}
                    {#<input type="checkbox" required="required" id="license_agreement" name="_license_agreement" />#}
                    {#Ich habe die <a href="{{ path('app.home.home.license') }}">impressum</a> gelesen und akzeptiert.#}
                {#</label>#}

                {#<div class="g-recaptcha" data-sitekey="6Ld5JQoUAAAAACFTlpsjGOiVfmLWh3d9z51abb7G"></div>#}

                {#<button type="submit" class="btn btn-lg btn-primary btn-block">#}
                    {#Profil erstellen#}
                {#</button>#}

                {#<input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="enk_qOKC4xwNQl4lEkwOIBwXP19xCmWm8nf-G-8MR4U"></form>#}
            {#</form>#}




            {{ form_start(registrationForm, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

            <h2 class="form-signin-heading">
                Profil erstellen
            </h2>

            {{ form_row(registrationForm.username, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Benutzername'}}) }}
            {{ form_row(registrationForm.email, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'E-Mail'}}) }}
            {{ form_row(registrationForm.plainPassword.first, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Passwort'}}) }}
            {{ form_row(registrationForm.plainPassword.second, { 'label': false, 'attr': { 'class': 'form-control', 'placeholder': 'Passwort wiederholen'}}) }}

            <label for="license_agreement">
                <input type="checkbox" required="required" id="license_agreement" name="_license_agreement" />
                Ich habe die <a href="{{ path('app.home.home.license') }}">impressum</a> gelesen und akzeptiert.
            </label>

            <div class="g-recaptcha" data-sitekey="6Ld5JQoUAAAAACFTlpsjGOiVfmLWh3d9z51abb7G"></div>

            <button type="submit" class="btn btn-lg btn-primary btn-block">
                Profil erstellen
            </button>
            {{ form_end(registrationForm) }}

        </div>
    </div>
{% endblock fos_user_content %}


