{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    <style>
        img {
            max-height: 50px;
        }
    </style>
    {#<link rel="stylesheet" href="{{ asset('css/gallery.css') }}">#}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h3>Are you sure you want to delete user <b>{{ user.username }}</b>?</h3>
        <a class="btn btn-danger" href="{{ path('app.admin.user.delete', { 'id': user.id, 'confirm' : 'true' }) }}">
            Delete
        </a>
        <a class="btn btn-default" href="{{ path('app.admin.user.list') }}">
            Cancel
        </a>
    </div>

{% endblock %}