{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        button {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    {% include('includes/flashMsg.html.twig') %}

    <h3 class="page-header">User <b>{{ user.username }}</b></h3>

    {{ form_start(form) }}

    {{ form_row(form.firstName, { 'required': false , 'label': 'Vorname' , 'attr': { 'class': 'form-control' } }) }}
    {{ form_row(form.lastName, { 'required': false , 'label': 'Name' , 'attr': { 'class': 'form-control' } }) }}
    {#{{ form_row(form.username, { 'required': false , 'attr': { 'class': 'form-control' } }) }}#}
    {#{{ form_row(form.email, { 'required': false , 'attr': { 'class': 'form-control' } }) }}#}
    {{ form_row(form.locked, { 'required': false , 'attr': { 'class': 'form-control' } }) }}
    {{ form_row(form.enabled, { 'required': false , 'attr': { 'class': 'form-control' } }) }}
    {{ form_row(form.birthday, { 'required': false, 'label': 'Geburtsdatum', 'attr': { 'class': 'form-control', '': '' } }) }}

    <button type="submit" class="btn btn-success">
        Speichern
    </button>
    {{ form_end(form) }}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="btn-group" style="margin-bottom: 5px;" role="group">
        {% for role in roles %}
            <button type="button" class="btn btn-default">
                <a href="{{ path('app.admin.user.promote', { 'id': user.id, 'role': role }) }}" style="text-decoration: none;">
                    <span class="glyphicon glyphicon-trash" id="basic-addon1"></span>
                </a>
                {{ role }}
            </button>
        {% endfor %}
        </div>
        <form action="{{ path('app.admin.user.promote', { 'id': user.id }) }}">
            <div class="input-group">
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="Add role">
            </span>
                <input type="text" name="role" class="form-control" placeholder="ROLE_ADMIN (example)">
            </div>
        </form>
    {% endif %}
{% endblock %}