{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    <style>
        img {
            max-height: 50px;
        }
    </style>
    {#<link rel="stylesheet" href="{{ asset('css/gallery.css') }}">#}
{% endblock %}

{% block body %}
    <h2 class="page-header">Benutzer ({{ pagination.getTotalItemCount }})</h2>

    {{ knp_pagination_filter(pagination, { 'i.title': 'Title', 'u.username': 'By user' }) }}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                {#<th>Avatar</th>#}
                <th>{{ knp_pagination_sortable(pagination, 'Vorname', 'u.firstName')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'u.lastName')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Benutzername', 'u.username')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email', 'u.email')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Locked', 'u.locked')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Enabled', 'u.enabled')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Last login', 'u.lastLogin')|raw }}</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for user in pagination %}
                <tr>
                    {#<td>#}
                    {#<img src="{{ asset('uploads/')~image.url }}">#}
                    {#</td>#}
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.locked ? 'Yes' : 'No' }}</td>
                    <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                    <td>{{ user.lastLogin|date('d.m.Y \\a\\t g:ia') }}</td>
                    <td>
                        <a class="btn btn-xs btn-default" href="{{ path('app.admin.user.edit', { 'id': user.id }) }}">Edit</a>
                        <a class="btn btn-xs btn-default" href="{{ path('app.admin.user.lock', { 'id': user.id }) }}">
                            {{ user.locked ? 'Unlock' : 'Lock' }}
                        </a>
                        <a class="btn btn-xs btn-danger" href="{{ path('app.admin.user.delete', { 'id': user.id }) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div align="center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}